{% extends "foodlist/base.html" %}
{% block title %} Home {% endblock %}

{% block additional_js %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% endblock additional_js %}

{% block body %}
<div class="container text-center">
    <h1 class="av_header">Hello, {{ user.first_name }}</h1>
    {% if user_data %}
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-sm-8">
            <h3 class="text-center home_list">Your Food Lists</h3>
            <table id="user_listtb" class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>List Name</th>
                        <th>Created</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in user_data %}
                    <tr>
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.list_name }}</td>
                        <td>{{ item.list_date }}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#foodModal"
                                data-listname="{{ item.list_name }}" data-listid="{{ item.id }}">View
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-danger">Remove</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="col"></div>
    </div>
    {% else %}
    <h3 class="text-center home_list">No Lists Yet!</h3>
    {% endif %}

</div>

<div class="modal fade" id="foodModal" tabindex="-1" role="dialog" aria-labelledby="foodModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="foodModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul id="foodtarget">
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>

$('#foodModal').on('show.bs.modal', function (event) {
   // Button that triggered the modal
  var button = $(event.relatedTarget);
  // Extract info from data-* attributes
  var tarlistid = button.data('listid');
  var listname = button.data('listname');
  // AJAX
    $.ajax({
      type: 'GET',
      url: '/get_ldetail/',
      data: {targetlist: tarlistid},
      dataType: 'json',
      success: function(data) {
        $( "#foodtarget" ).empty()
        $.map( data, function(fd) {
          $( "<li>" ).text( fd.item ).attr('data-category', fd.category).appendTo( "#foodtarget" );
        })
      }
    });

  var modal = $(this)
  modal.find('.modal-title').text(listname + ' ' + tarlistid)

});
</script>


{% endblock %}
