{% extends "foodlist/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="av_header text-center">Hello, {{ user.first_name }}</h1>
            {% if user_data %}
                <h3>Your Food Lists</h3>
                <ul>
                {% for item in user_data %}
                <li>{{ item.list_name }} [{{ item.list_date }}]</li>
                {% endfor %}
                </ul>
            {% else %}
                <h3>No Lists Yet!</h3>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}
